*.html,body{margin:0;padding:0;}

html {
    scroll-behavior: smooth;
  }

body{
    font-family:"lato",sans-serif;
    font-size:15px;
    line-height:1.5;
    display:block;
    height:3000px;
}
@font-face { font-family: Delicious; src: url(../fonts/WorkSans-Regular.ttf);}
@font-face { font-family: Delicious; src: url(../fonts/Golden\ Ranger.ttf); } 
/* 
font-family: 'Indie Flower', cursive; Word
font-family: 'Pacifico', cursive; Logo
 */

 /* Start Header Section */
 .header{
    width:100%;
    height:100%;
}
    .navbar{padding:1.2rem 0;position: relative;z-index:auto}
    .navbar-brand{color:#8C43FF !important;
        font-family: Delicious;
        font-size:30px;
        transition:.7s all ease-in-out;
    }
    .navbar-brand:hover{color:red !important}
    .nav-item a{
        transition:0.7s all ease-in-out;
        line-height:35px;
        font-size:18px;
        font-weight: 350;
        padding:0 25px;
        color:black;
        text-decoration:none;
    }
    .nav-item a:hover{background-color:#8C43FF;
        width:100%;
        color:white;
        cursor: pointer
        ;border-radius:5px;}
    .navbar ul li{right:0;}
  /* End Header Section */

  /* Start Banner Section */
    .banner{margin-top:80px;}
    .banner h3{font-weight:700;font-size:50px;letter-spacing:1px;margin-bottom: 30px;}
    .banner h5{font-weight:700;font-size:30px;letter-spacing:1px}
    .banner img{width:850px;margin-top:100px;}
  /* End Banner Section */

  /* Start About Section */
    .about{margin-top:130px;}
    .about h3{font-weight:700;font-size:40px;letter-spacing:2px;margin-bottom: 30px;}
    .about h5{font-weight:700;font-size:30px;letter-spacing:1px;width:50%;margin:0 auto;line-height:2.8rem;margin-bottom:130px}
  /* End About Section */

  /* Start Skills Section */
    .skills{margin:100px 0;}
    .skills span{font-size:20px;}
    .progress{height:20px;width:100%;
        line-height:2px;
        font-size:15px;
        color:white;
    text-align:left;margin-bottom:15px;}
    .progress-bar{background-color:#8C43FF !important;}
    .dff{margin-top:37px;}
    .right{text-align:right}
  /* End Skills Section */

   /* Start Portfolio Section */
    .portfolio{width:100%;height:100%}
    .portfolio h3, .portfolio h4{line-height: 70px;text-align:center}
    .portfolio img{background-size: auto}
    .card{color:black;margin-bottom: 20px;}
    .portfolio hr{border:2px solid white}
   /* End Portfolio Section */

   /* Start Footer Section */

.footer p{
    font-size:23px;
    margin-top:30px;  
    margin-bottom:50px;
    float: left;
}

.footer object{
	width:35px;
    height:35px;
}

.fontawesome{
  float:right;
  margin-top:30px; 
}

.fontawesome .fab {
  margin-right: 20px;
  color:black;
}
.fontawesome .fab:hover{
  color:skyblue;
  transition: 0.7s all ease-in-out;}
/* End Footer Section */


   /* Start Media Section  */
    @media screen and (max-width:768px){
      .skills h4{text-align:center}
    }
   /* End Media Section  */
   /* Start Framework Section */
   .color{color:#8C43FF}
    .font1{font-family: 'Indie Flower', cursive}
    .font2{font-family: Delicious}
    .back{background-color:#8C43FF;color:white}
    .center{text-align:left;display: grid;}
    /* End Framework Section */